<!DOCTYPE hmtl>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
    <div class="col-md-6 col-md-offset-3">



    <h1>Add Data</h1>

    <form method="POST" action="/api/add">
      <label for="name">Data:</label>
      <br><br>
      <input type="text" class="from-control" name="name">
      <br><br>
      <label for="age">Value:</label>
      <br><br>
      <input type="text" class="from-control" name="age">
      <br><br>
      <input type="submit"  class="btn  btn-primary"  value="submit">
    </form>
  </div>
    </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
